{% extends 'base.html.twig' %}

{% block title %}Evidance{% endblock %}

{% block body %}
    <h1>Evidance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evidance.id }}</td>
            </tr>
            <tr>
                <th>Tittel</th>
                <td>{{ evidance.tittel }}</td>
            </tr>
            <tr>
                <th>FileHash</th>
                <td>{{ evidance.fileHash }}</td>
            </tr>
            <tr>
                <th>Discription</th>
                <td>{{ evidance.discription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evidance_index') }}">back to list</a>

    <a href="{{ path('app_evidance_edit', {'id': evidance.id}) }}">edit</a>

    {{ include('evidance/_delete_form.html.twig') }}
{% endblock %}
