{% extends 'base.html.twig' %}

{% block title %}CaseWork
{% endblock %}

{% block body %}
	<h1>CaseWork</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ case_work.id }}</td>
			</tr>
			<tr>
				<th>title</th>
				<td>{{ case_work.title }}</td>
			</tr>
			<tr>
				<th>status</th>
				<td>{{ case_work.status }}</td>
			</tr>
			<tr>
				<th>description</th>
				<td>{{ case_work.description }}</td>
			</tr>
		</tbody>
	</table>

	{% if case_work.status == 'open' %}
		<a href="{{ path('app_evidence_new', {'case_id': case_work.id}) }}" class="btn btn-success">
			Ajouter une Evidence
		</a>
	{% endif %}


	<a href="{{ path('app_case_work_index') }}" class="btn btn-success">back to list</a>

	<a href="{{ path('app_case_work_edit', {'id': case_work.id}) }}" class="btn btn-primary">edit</a>

	{{ include('case_work/_delete_form.html.twig') }}
{% endblock %}
